<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>칵테일 검색</title>
  <link rel="stylesheet" href="/css/search2.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="navbar">
  <a th:href="@{/}">만 개의 칵테일</a>
  <div>
    <a href="/popular">인기 칵테일</a>
    <a href="/recommend">추천 칵테일</a>
    <a href="/search">칵테일 검색</a>
    <a href="#" onclick="checkLogin()" class="mypage-link">MyPage</a>
    <a href="#" class="login-link" onclick="checkLogin2()">로그인</a>
  </div>
</div>

<div class="container">
  <form id="searchForm" action="/search/cocktailresults" method="post">
    <div class="search-container">
      <input type="text" class="search-input" name="userInput" placeholder="검색어를 입력해주세요" required>
      <button class="search-button">Search</button>
    </div>
  </form>
</div>

<div class="content-container">
  <!-- 칵테일 리스트 -->
  <div class="cocktail-list" id="cocktail-list">
    <!-- 서버에서 전달된 데이터로 리스트 생성 -->
    <div th:if="${#lists.isEmpty(cocktailSearchList)}" class="no-results">검색 결과가 없습니다.</div>
    <div th:each="cocktail : ${cocktailSearchList}" class="cocktail-item">
      <a th:href="@{/search/cocktails/{id}(id=${cocktail.id})}" class="cocktail-link">
        <img th:src="${cocktail.image_url}" th:alt="${cocktail.name}">
        <div class="cocktail-name" th:text="${cocktail.name}"></div>
      </a>
    </div>
  </div>
</div>

<script>
  function checkLogin() {
    $.ajax({
      url: '/login_complete',
      type: 'POST',
      success: function(response) {
        if (response.flag === 0) {

          console.log('마이 페이지로 이동');
          window.location.href = '/mypage';


        } else {
          alert(response.message);
          window.location.href = '/login';
        }
      },
      error: function(xhr, status, error) {
        alert('로그인 상태 확인 실패: ' + error);
        window.location.href = '/login';
      }
    });
  }

  function checkLogin2() {
    $.ajax({
      url: '/login_complete',
      type: 'POST',
      success: function(response) {
        if (response.flag === 0) {
          alert('로그인되어 있습니다. 마이 페이지로 이동하세요');
        } else {
          alert(response.message);
          window.location.href = '/login';
        }
      },
      error: function(xhr, status, error) {
        alert('로그인 상태 확인 실패: ' + error);
        window.location.href = '/login';
      }
    });
  }

</script>

</body>
</html>